{% extends 'base.html.twig' %}

{% block title %}Accueil ADVE{% endblock %}

{% block body %}
    {{ include('_include/_mainNavigation.html.twig') }}
    <section class="main-sejour container-large_right">
        <div class="sejour-bloc-2">
            <div class="row-1">
                <h1>{{ activite.name }}</h1>
            <p>{{ activite.histoire }}</p>
            </div>
        </div>
        <svg width="972" height="981.881" viewBox="0 0 972 981.881" role="img" class="sejour-bloc_svg">
            <title>{{ activite.legendeEnAvant }}</title>
            <defs>
                <pattern id="pattern" width="1" height="1" viewBox="224.131 426.523 451.955 456.55">
                    <image  width="972" height="1374.823" xlink:href="{{ asset('uploads/'~activite.photoEnAvant) }}"/>
                </pattern>
            </defs>
            <path id="Soustraction_42" data-name="Soustraction 42" d="M256.657,1204.015v0h0l-.109-.312L33.581,556.156l.642-.221L960.5,236.995V961.663Z" transform="translate(-33.581 -236.995)" fill="url(#pattern)"/>
        </svg>
    </section>
    <section class="main-sejour container-large_left">
        <svg width="972" height="981.881" viewBox="0 0 972 981.881" role="img" class="sejour-bloc-1">
            <title>{{ activite.legendeHistoire |raw }}</title>
            <defs>
                <pattern id="pattern2" width="1" height="1" viewBox="224.131 426.523 451.955 456.55">
                    <image  width="972" height="1374.823" xlink:href="{{ asset('uploads/'~activite.photoHistoire) }}"/>
                </pattern>
            </defs>
            <path id="Soustraction_19" data-name="Soustraction 19" d="M513.394,1044.818h0V320.148L1251.927,62.936l14.718.78,218.588,642.106.16.471-972,338.524Z"
                  transform="translate(-513.394 -62.936)" fill="url(#pattern2)"/>
        </svg>
        <div class="sejour-bloc-2">
            <div class="row-1">
                <h1>L'histoire du sport</h1>
            <p>{{ activite.histoire |raw }}</p>
            </div>
        </div>
    </section>

    <section class="container-large margin-classic">
        <div class="container-card-large container-citation">
            <div class="citation">
                <h2>«{{ activite.citation }}»</h2>
            </div>
        </div>
    </section>

    <section class="main-sejour sejour-reverse container-large_right">
        <div class="sejour-bloc-2">
            <div class="row-1">
                <h1>Les différentes disciplines</h1>
                {{ activite.discipline|raw }}
            </div>
        </div>
        <svg width="972" height="981.881" viewBox="0 0 972 981.881" role="img" class="sejour-bloc_svg">
            <title>{{ activite.legendePhotoDiscipline }}</title>
            <defs>
                <pattern id="pattern3" width="1" height="1" viewBox="224.131 426.523 451.955 456.55">
                    <image  width="972" height="1374.823" xlink:href="{{ asset('uploads/'~activite.photoDiscipline) }}"/>
                </pattern>
            </defs>
            <path id="Soustraction_42" data-name="Soustraction 42" d="M256.657,1204.015v0h0l-.109-.312L33.581,556.156l.642-.221L960.5,236.995V961.663Z"
                  transform="translate(-33.581 -236.995)" fill="url(#pattern3)"/>
        </svg>
    </section>

    <section class="container-diagonal-box margin">
        <div class="diagonal-box container-large">
            <div class="container-card-large row-step">
                <div class="col-1">
                    <h2>L'équipement</h2>
                    <p>{{ activite.equipement|raw }}</p>
                </div>
                <div class="col-2">
                    <h2>Les aptitudes</h2>
                    {{ activite.aptitudes|raw }}
                </div>
            </div>
        </div>
    </section>


    <section class="container-large">
        <h2>Les séjours associés</h2>
        <div class="container-card carousel">
            {% for sejour in sejours %}

                <div class="card">
                    <a href="{{ path('main_vacances') }}">
                        <img src="{{ asset('uploads/'~sejour.photoEnAvant) }}" alt="Photo du séjour">
                        <div class="card-text">
                            <div class="card-bloc-title">
                                <h3>{{ sejour.titre }}</h3>
                                <p>{{ sejour.centre}} | {{ sejour.centre.localisation }}</p>
                            </div>
                            <div>
                                <div class="card-bloc-item">
                                    <p>Activités</p>
                                    <p>{{ sejour.activite.name }}</p>
                                </div>
                                <div class="card-bloc-item">
                                    <p>Âge</p>
                                    <p>{{ sejour.ageMin}} à {{ sejour.ageMax}} ans</p>
                                </div>
                                <div class="card-bloc-item">
                                    <p>Durée du séjour</p>
                                    {% for duree in sejour.dureeSejour %}
                                        <p>{{ duree.name }}/</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-bloc-price">
                                <p>À partir de</p>
                                <p>{{ sejour.prixMin }}€</p>
                                <p>/enfant</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="prevandnext">
            <div class="prev">
                <img src="{{ asset('img/chevron.svg') }}" alt="Flèche vers la gauche">
            </div>
            <div class="next">
                <img src="{{ asset('img/chevron.svg') }}" alt="Flèche vers la droite">
            </div>
        </div>
    </section>




    <section class="container-check container-large">
        <div class="bloc-check">
            <img src="{{ asset('img/check.svg') }}" alt="Séjours vérifiés">
            <div>
                <h3>Séjours vérifiés</h3>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,</p>
            </div>
        </div>
        <div class="bloc-check">
            <img src="{{ asset('img/pay.svg') }}" alt="Paiement sécrusié">
            <div>
                <h3>Paiement sécurisé</h3>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,</p>
            </div>
        </div>
        <div class="bloc-check">
            <img src="{{ asset('img/stop.svg') }}" alt="Annulation">
            <div>
                <h3>Annulation</h3>
                <p>Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit,</p>
            </div>
        </div>
    </section>


    <div class="separator"></div>
{{ include('_include/_mainFooter.html.twig') }}

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
<script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}