{% extends 'baseAdmin.html.twig' %}
{% block title %}Ajouter un type de centre{% endblock %}
    {% block body %}
        <div class="main">
            {{ include('_include/_navigation.html.twig') }}
            <div class="content">
                <div class="welcome-container-title">
                    <h1 style="flex: none">Ajout d'un type de centre</h1>
                    <a class="bouton-2" href="{{ path('classe_decouverte_categorie_index') }}">Quitter <i
                                class="fas fa-times"></i></a>
                </div>
                <div class="welcome-container form">
                    {{ form_start(form) }}
                    <div class="formCategorie">
                        <h2>Choissisez un nom de type de centre</h2>
                        {{ form_row(form.name) }}
                        <button class="bouton-1" style="border: none">{{ button_label|default('Enregistrer') }}<i
                                    class="fas fa-chevron-right"></i></button>
                    </div>{{ form_end(form) }}
                </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formulaire.css') }}">
{% endblock %}
