<div class="navigation">
    <div class="logoNav" style="width: 77px">
        <svg id="Calque_1" viewBox="0 0 128.38 165.6">
            <defs></defs>
            <path d="M98.31,43.69c-.71.06-1,.31-1.11.77,0,.77-.06,1.7-.06,5v4.2c0,2.47-.06,5.5-.06,8a4.61,4.61,0,0,1-.62,2.51c-1,1.88-3.46,3.42-5.16,4.51a5.64,5.64,0,0,1-2.22.68A3.61,3.61,0,0,1,87,68.7a1,1,0,0,1-.37-.86,1.07,1.07,0,0,1,.24-.77,6.58,6.58,0,0,1,1.24-1A.74.74,0,0,1,89,66a4.67,4.67,0,0,0,2.23.92,1.92,1.92,0,0,0,1.27-.43c.52-.43.83-1,.83-2.75V51c0-2.85-.06-4.39-.12-5.19-.16-1.89-.25-2-2.54-2.17a3.61,3.61,0,0,1,.22-.86.38.38,0,0,1,.4-.28c.65,0,2.35.06,3.64.06s3.43-.12,4-.12c.19,0,.25,0,.28.12l.12,1Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M115.45,54.16c1,0,1.55,0,2.32,0,.31,0,.53-.28.49-.37-1.11-3.4-1.76-5.13-2.28-6.46-.09-.18-.28-.22-.34-.09-1,2.31-1.45,3.36-2.69,6.55-.06.15.25.37.68.37s.93,0,1.82,0m2.66-11.68c.93,2.72,1.57,4.42,2.65,7.29s3.16,7.82,3.65,8.9c.8,1.7,1.27,2.5,3.06,2.87,0-.06-.19,1-.44,1-3.15,0-3.73-.06-4.78-.06s-2.32.09-2.66.09c-.12,0-.18,0-.21-.12s-.34-.81-.28-.87c1.26-.34,1.45-.52,1.45-1.14a21.24,21.24,0,0,0-1.3-4c-.25-.58-.49-.77-.68-.77-1.11,0-4.44,0-5.87.09-.52,0-.68.28-.89.84a12.89,12.89,0,0,0-1,3.43c0,.77.46,1.08,1.91,1.39.25.06-.09,1-.24,1-2,0-3.71,0-4.33,0s-1,0-1.14,0-.19,0-.22-.13-.34-.8-.18-.86c1.6-.43,2-1.73,2.65-3.21s4.39-9.86,6-13.75c.27-.71.52-1.45.71-1.82a.64.64,0,0,1,.27-.43,3.74,3.74,0,0,1,1.39-.31c.34,0,.37.06.53.52"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M141.8,44.06a.81.81,0,0,0-.28.62c-.09,1.08-.19,4-.19,6.54,0,4.48,0,7.51.47,9.3a.54.54,0,0,0,.43.49,5.8,5.8,0,0,0,2,.41A8.46,8.46,0,0,0,148.68,60c2.47-1.54,3.74-4.6,3.74-7.84a8.44,8.44,0,0,0-3-6.8A8.94,8.94,0,0,0,144,43.53a5.22,5.22,0,0,0-2.22.53m12.29,14.88A11.35,11.35,0,0,1,148.81,62a15,15,0,0,1-4.94.56c-1.64,0-4.67-.13-5.22-.13-1.12,0-2.2,0-3,0a5.74,5.74,0,0,1,0-1c1.23-.5,1.61-.68,1.64-1.24.15-2.32.12-7.57.12-11.3,0-3.12,0-3.83-.06-4.2s-.28-.81-1.73-1.05c-.09,0-.09-.19-.13-.75l0-.4c1.15,0,2.78-.06,4.54-.09,2,0,3.09-.09,4.64-.09,2.22,0,6.2.31,9,2.84a9.45,9.45,0,0,1,3.39,7.29,9.25,9.25,0,0,1-3,6.48"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M173.64,51.75c1.36,0,2.16,0,2.78-.06,1.63-.1,1.94-.47,2.56-2.1.09-.16.77-.25,1.2-.16-.09.77-.24,2.38-.24,3.46a27.52,27.52,0,0,0,.18,2.84,3,3,0,0,1-.71.1.45.45,0,0,1-.49-.19c-.09-.28-.34-1-.5-1.36-.21-.68-.74-1.05-1.79-1.11-.8-.06-1.51-.06-2.84-.06a9.35,9.35,0,0,0-1.42.06.36.36,0,0,0-.34.31,24.12,24.12,0,0,0-.22,4.2c0,1.91,0,2.44.25,2.78.43.62,2.16.68,3.43.68,3,0,4.88-.56,6-4a2.42,2.42,0,0,1,.93,0c.09,0,.09,0,.09.25a14.45,14.45,0,0,1-1.05,4.91c-.09.19-.18.25-.34.25l-1.42,0c-.86,0-2.93-.07-5.62-.07-3.15,0-6,.13-8.28.19-.15-.06-.12-.62-.06-.86s.06-.19.15-.22c1.49-.34,1.8-.43,1.83-1,0-.4.21-2.56.21-5.38v-7a16.36,16.36,0,0,0-.21-3.64c0-.25-.07-.53-.37-.59l-1.8-.4c-.09,0-.12,0-.09-.18l.09-.68c0-.13,0-.19.19-.19h1c1,0,2.41.09,4.75.09H174c2.62,0,4.38-.18,6.3-.18.4,0,.62,0,.74.15a.91.91,0,0,1,.15.84,20.06,20.06,0,0,0-.34,4.07c-1,0-1.08-.06-1.14-.27-.86-2.48-1.45-3.31-3-3.31H175.4c-1.83,0-2.63.06-3,.09-.56,0-.59.65-.59,1,0,2.2,0,4.17,0,6.21,0,.4.13.62.31.62Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M118.82,95.88H91.56V94.51h88.65v1.37H159v59.5c0,32.17-14.91,52.17-53.35,52.17C89,207.55,58,202.85,58,176.17c0-14.91,10-21.38,20.2-21.38,9.81,0,18.64,6.08,19.22,18.83-12.74,6.28-12.16,32.56,8.24,32.56,12.16,0,13.14-9.22,13.14-24.13Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1" d="M86.58,84h-.79V76.29h.79Z" transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M96.86,82.59l2.62-6.3h1.2V84h-.79V77.34h0L97.07,84h-.41l-2.8-6.69h0V84h-.79V76.29h1.2Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1" d="M111,82.59l2.61-6.3h1.2V84H114V77.34h0L111.17,84h-.41L108,77.34h0V84h-.79V76.29h1.2Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M128.8,80.16a4.15,4.15,0,0,1-.31,1.63,3.87,3.87,0,0,1-.85,1.28,3.77,3.77,0,0,1-1.28.85,4.28,4.28,0,0,1-3.2,0A3.82,3.82,0,0,1,121,81.79a4.44,4.44,0,0,1,0-3.26,3.82,3.82,0,0,1,2.12-2.13,4.28,4.28,0,0,1,3.2,0,3.77,3.77,0,0,1,1.28.85,3.87,3.87,0,0,1,.85,1.28A4.15,4.15,0,0,1,128.8,80.16Zm-.86,0a3.85,3.85,0,0,0-.21-1.27,3.36,3.36,0,0,0-.63-1.07,3,3,0,0,0-1-.73,3.21,3.21,0,0,0-1.34-.28,3.16,3.16,0,0,0-1.33.28,2.94,2.94,0,0,0-1,.73,3.36,3.36,0,0,0-.63,1.07,3.78,3.78,0,0,0,0,2.54,3.36,3.36,0,0,0,.63,1.07,2.94,2.94,0,0,0,1,.73,3.16,3.16,0,0,0,1.33.27,3.21,3.21,0,0,0,1.34-.27,3,3,0,0,0,1-.73,3.36,3.36,0,0,0,.63-1.07A3.85,3.85,0,0,0,127.94,80.16Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M134.74,76.29h2.31a4.08,4.08,0,0,1,.93.1,2.12,2.12,0,0,1,.8.33,1.7,1.7,0,0,1,.56.6,1.93,1.93,0,0,1,.2.92,1.67,1.67,0,0,1-.35,1.08,1.72,1.72,0,0,1-1,.61v0a1.9,1.9,0,0,1,1.28.58,1.92,1.92,0,0,1,.47,1.36,2.08,2.08,0,0,1-.1.54,1.94,1.94,0,0,1-.38.72,2.54,2.54,0,0,1-.86.62,3.57,3.57,0,0,1-1.48.26h-2.37Zm.79,3.39h1.59a2.68,2.68,0,0,0,.56-.07,1.45,1.45,0,0,0,.5-.24,1.37,1.37,0,0,0,.37-.42,1.33,1.33,0,0,0,.14-.63,2,2,0,0,0-.05-.34,1,1,0,0,0-.22-.43,1.39,1.39,0,0,0-.49-.38A2,2,0,0,0,137,77h-1.51Zm0,3.63H137a3.44,3.44,0,0,0,.8-.09,2,2,0,0,0,.64-.27,1.2,1.2,0,0,0,.59-1.11,1.3,1.3,0,0,0-.49-1.13,2.35,2.35,0,0,0-1.44-.38h-1.61Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1" d="M146.79,84H146V76.29h.79Z" transform="translate(-58.02 -41.96)"/>
            <path class="cls-1" d="M154.05,83.31h3.61V84h-4.4V76.29h.79Z" transform="translate(-58.02 -41.96)"/>
            <path class="cls-1" d="M163.89,84h-.79V76.29h.79Z" transform="translate(-58.02 -41.96)"/>
            <path class="cls-1" d="M171.15,83.31h4.14V84h-4.93V76.29h4.8V77h-4v2.64h3.75v.72h-3.75Z"
                  transform="translate(-58.02 -41.96)"/>
            <path class="cls-1"
                  d="M182,84h-.79V76.29h2.38a3.07,3.07,0,0,1,1.87.51,1.85,1.85,0,0,1,.68,1.56,1.93,1.93,0,0,1-.51,1.36,2.23,2.23,0,0,1-1.47.64L186.4,84h-1l-2.12-3.6H182Zm0-4.32h1.39a3.35,3.35,0,0,0,.9-.11,1.57,1.57,0,0,0,.58-.29,1.07,1.07,0,0,0,.32-.42,1.56,1.56,0,0,0,.1-.53,1.46,1.46,0,0,0-.1-.52,1.13,1.13,0,0,0-.32-.44,1.57,1.57,0,0,0-.58-.29,3.86,3.86,0,0,0-.9-.1H182Z"
                  transform="translate(-58.02 -41.96)"/>
        </svg>

    </div>
    <div class="navigation-list">
        <ul>
            <li class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                    <path xmlns="http://www.w3.org/2000/svg"
                          d="M11.3356 2.25259C11.7145 1.9158 12.2855 1.9158 12.6644 2.25259L21.6644 10.2526C22.0772 10.6195 22.1143 11.2516 21.7474 11.6644C21.3805 12.0771 20.7484 12.1143 20.3356 11.7474L20 11.4491V19C20 20.1046 19.1046 21 18 21H6.00001C4.89544 21 4.00001 20.1046 4.00001 19V11.4491L3.66437 11.7474C3.25159 12.1143 2.61952 12.0771 2.2526 11.6644C1.88568 11.2516 1.92286 10.6195 2.33565 10.2526L11.3356 2.25259ZM6.00001 9.67129V19H9.00001V14C9.00001 13.4477 9.44773 13 10 13H14C14.5523 13 15 13.4477 15 14V19H18V9.67129L12 4.33795L6.00001 9.67129ZM13 19V15H11V19H13Z"
                          fill="#0D0D0D"/>
                </svg>
                <a href="{{ path('admin') }}">Tableau de bord</a>
            </li>

            <li class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path id="edit-alt"
                          d="M16.293,3.293a1,1,0,0,1,1.414,0l3,3a1,1,0,0,1,0,1.414l-9,9A1,1,0,0,1,11,17H8a1,1,0,0,1-1-1V13a1,1,0,0,1,.293-.707ZM9,13.414V15h1.586l8-8L17,5.414ZM3,7A2,2,0,0,1,5,5h5a1,1,0,0,1,0,2H5V19H17V14a1,1,0,0,1,2,0v5a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2Z"
                          transform="translate(-3 -3)"/>
                </svg>

                <a href="{{ path('article_categories_index') }}">Les articles</a>
            </li>

            <li class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path id="edit-alt"
                          d="M16.293,3.293a1,1,0,0,1,1.414,0l3,3a1,1,0,0,1,0,1.414l-9,9A1,1,0,0,1,11,17H8a1,1,0,0,1-1-1V13a1,1,0,0,1,.293-.707ZM9,13.414V15h1.586l8-8L17,5.414ZM3,7A2,2,0,0,1,5,5h5a1,1,0,0,1,0,2H5V19H17V14a1,1,0,0,1,2,0v5a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2Z"
                          transform="translate(-3 -3)"/>
                </svg>

                <a href="{{ path('sejours_index') }}">Les séjours</a>
            </li>
            <li class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path id="edit-alt"
                          d="M16.293,3.293a1,1,0,0,1,1.414,0l3,3a1,1,0,0,1,0,1.414l-9,9A1,1,0,0,1,11,17H8a1,1,0,0,1-1-1V13a1,1,0,0,1,.293-.707ZM9,13.414V15h1.586l8-8L17,5.414ZM3,7A2,2,0,0,1,5,5h5a1,1,0,0,1,0,2H5V19H17V14a1,1,0,0,1,2,0v5a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2Z"
                          transform="translate(-3 -3)"/>
                </svg>

                <a href="{{ path('classe_decouverte_categorie_index') }}">Les classes découverte</a>
            </li>
            <li class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path id="edit-alt"
                          d="M16.293,3.293a1,1,0,0,1,1.414,0l3,3a1,1,0,0,1,0,1.414l-9,9A1,1,0,0,1,11,17H8a1,1,0,0,1-1-1V13a1,1,0,0,1,.293-.707ZM9,13.414V15h1.586l8-8L17,5.414ZM3,7A2,2,0,0,1,5,5h5a1,1,0,0,1,0,2H5V19H17V14a1,1,0,0,1,2,0v5a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2Z"
                          transform="translate(-3 -3)"/>
                </svg>

                <a href="{{ path('centres_categories_index') }}">Les centres</a>
            </li>
            <li class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path id="edit-alt"
                          d="M16.293,3.293a1,1,0,0,1,1.414,0l3,3a1,1,0,0,1,0,1.414l-9,9A1,1,0,0,1,11,17H8a1,1,0,0,1-1-1V13a1,1,0,0,1,.293-.707ZM9,13.414V15h1.586l8-8L17,5.414ZM3,7A2,2,0,0,1,5,5h5a1,1,0,0,1,0,2H5V19H17V14a1,1,0,0,1,2,0v5a2,2,0,0,1-2,2H5a2,2,0,0,1-2-2Z"
                          transform="translate(-3 -3)"/>
                </svg>

                <a href="{{ path('activite_categorie_index') }}">Les activités</a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="menus">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path id="users"
                              d="M10,4a4,4,0,1,0,4,4A4,4,0,0,0,10,4ZM4,8a6,6,0,1,1,6,6A6,6,0,0,1,4,8ZM16.828,3.757a1,1,0,0,1,1.414,0,6,6,0,0,1,0,8.485,1,1,0,1,1-1.414-1.414,4,4,0,0,0,0-5.657A1,1,0,0,1,16.828,3.757Zm.7,13a1,1,0,0,1,1.213-.728,3.969,3.969,0,0,1,2.652,2.148A6.408,6.408,0,0,1,22,21a1,1,0,0,1-2,0,4.429,4.429,0,0,0-.394-1.928,1.973,1.973,0,0,0-1.348-1.1A1,1,0,0,1,17.53,16.757ZM6.5,18A2.783,2.783,0,0,0,4,21a1,1,0,0,1-2,0,4.771,4.771,0,0,1,4.5-5h7A4.771,4.771,0,0,1,18,21a1,1,0,0,1-2,0,2.783,2.783,0,0,0-2.5-3Z"
                              transform="translate(-2 -2)"/>
                    </svg>

                    <a href="{{ path('user_index') }}">Les membres</a>
                </li>
            {% endif %}


            <li class="menus" style="margin-top: 30px">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20">
                    <path id="user"
                          d="M12,4a4,4,0,1,0,4,4A4,4,0,0,0,12,4ZM6,8a6,6,0,1,1,6,6A6,6,0,0,1,6,8ZM8,18a3,3,0,0,0-3,3,1,1,0,0,1-2,0,5,5,0,0,1,5-5h8a5,5,0,0,1,5,5,1,1,0,0,1-2,0,3,3,0,0,0-3-3Z"
                          transform="translate(-3 -2)"/>
                </svg>
                <a href="{{ path('user_profil',{id : app.user.id}) }}">Mon profil</a>
            </li>

            <li class="menus">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
                    <path id="log-out"
                          d="M2,6A2,2,0,0,1,4,4h9a2,2,0,0,1,2,2V8a1,1,0,0,1-2,0V6H4V18h9V16a1,1,0,0,1,2,0v2a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2ZM17.293,8.293a1,1,0,0,1,1.414,0l3,3a1,1,0,0,1,0,1.414l-3,3a1,1,0,0,1-1.414-1.414L18.586,13H9a1,1,0,0,1,0-2h9.586L17.293,9.707A1,1,0,0,1,17.293,8.293Z"
                          transform="translate(-2 -4)"/>
                </svg>
                <a class="deconnexion" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>

        </ul>
    </div>
    <div class="navFooter">
        <p>© Backstages 2021</p>
    </div>
</div>